<div class="fixed top-0 left-0 w-full h-full flex items-center justify-center bg-gray-100 bg-opacity-70 z-30">

    <div class="bg-white w-5/6 lg:w-2/3 max-w-[600px] border border-gray-300 rounded-lg z-10 shadow-lg">

        <h3 class="text-lg leading-6 font-semibold rounded-t-lg bg-indigo-800 text-white p-4 flex items-center"
            id="modal-title">
            Créer un nouveau tableau
        </h3>
        <div class="p-4 my-auto">
            <div class="border p-4 py-8 overflow-y-auto bg-white">

                <div class="flex flex-row mb-2">
                    <div class="text-gray-400 w-60 flex items-center justify-start">Nom de l'action</div>
                    <div class="w-full">
                        input
                    </div>
                </div>
                <div class="flex flex-row mb-2">
                    <div class="text-gray-400 w-60 flex items-center justify-start">Provenance</div>
                    <div class="w-full">
                        input
                    </div>
                </div>
                <div class="flex flex-row mb-2">
                    <div class="text-gray-400 w-60 flex items-center justify-start">Détails</div>
                    <div class="w-full">
                        input
                    </div>
                </div>
            </div>


            <div class="bg-gray-50 px-4 py-3 rounded-lg flex items-center space-x-4 justify-center">
                <button text="Annuler" class="!bg-gray-500 hover:!bg-gray-400" (onClick)="close()"
                    icon="fa-times-circle">
                </button>

                <button text="Créer" class="bg-green-500 hover:bg-green-700" icon="fa-check-circle"
                    (onClick)="closeAndCreate()"></button>
            </div>
        </div>

    </div>