<div class="flex flex-col space-y-4 mb-4" (click)="onBlur()">
    <div class="border-2" [ngClass]="{'border-red-500': currentday}">
        <div class="px-4 py-2 flex justify-between items-center bg-indigo-100 font-semibold">
            {{day.id}}
            @if (editMode) {
            <div>
                <button class="bg-blue-500 text-white p-1 rounded mx-2 text-xs w-6 h-6"
                    (click)="addMealToDay(day, editMode)"><i class="fas fa-edit"></i></button>
                <button class="bg-red-500 text-white p-1 rounded mx-2 text-xs w-6 h-6"
                    (click)="deleteMeal($event, day)"><i class="fas fa-trash"></i></button>
            </div>
            }
        </div>
        <div class="px-4 py-1 mt-2 hover:bg-indigo-50 cursor-pointer hover:text-indigo-600"
            [ngClass]="{'bg-red-500 hover:bg-red-200 hover:text-red-700 text-white':editMode==='lunch'}">
            @if (day.lunch) {
            <div (click)="editMeal($event, 'lunch')">
                {{day.lunch.name}}
            </div>
            } @else {
            <div (click)="addMealToDay(day, 'lunch')">Clique ici pour ajouter un repas !</div>
            }
        </div>
        <div class="px-4 py-1 mt-2 hover:bg-indigo-50 cursor-pointer hover:text-indigo-600"
            [ngClass]="{'bg-red-500 hover:bg-red-200 hover:text-red-700 text-white':editMode==='dinner'}">
            @if (day.dinner) {

            <div (click)="editMeal($event,'dinner')">
                {{day.dinner.name}}
            </div>
            } @else {
            <div (click)="addMealToDay(day, 'dinner')">Clique ici pour ajouter un repas !</div>
            }
        </div>
    </div>
</div>