<div class="fixed bottom-0 w-full shadow-md border-t bg-white">
    <div class="flex justify-around items-center py-2">
        <!-- Homepage -->
        <div class="flex flex-col items-center cursor-pointer text-gray-600 hover:text-red-600"
            [routerLink]="['/menulist']" routerLinkActive="text-blue-500">
            <i class="fas fa-home text-lg py-1"></i>
            <span class="text-xs">Menus</span>
        </div>
        <!-- Courses -->
        <div class="flex flex-col items-center cursor-pointer text-gray-600  hover:text-red-600"
            [routerLink]="['/shoppinglist']" routerLinkActive="text-blue-500">
            <i class="fas fa-shopping-cart text-lg py-1"></i>
            <span class="text-xs">Courses</span>
        </div>
        <!-- Liste des repas -->
        <div class="flex flex-col items-center cursor-pointer text-gray-600  hover:text-red-600"
            [routerLink]="['/meals']" routerLinkActive="text-blue-500">
            <i class="fas fa-utensils text-lg py-1"></i>
            <span class="text-xs">Repas</span>
        </div>
    </div>
</div>