<h1>Titre du tableau</h1>

<button class="px-2 py-1 bg-indigo-400 rounded-sm text-white my-6">Ajouter une fonctionnalité</button>


<table class="border border-collapse">
    <thead>
        <tr>
            <th class="border bg-indigo-100 text-indigo-700">ID</th>
            <th class="border bg-indigo-100 text-indigo-700">Nom</th>
            <th class="border bg-indigo-100 text-indigo-700">Description</th>
        </tr>
    </thead>
    <tbody>
        <tr class="hover:bg-purple-50 hover:text-purple-500 cursor-pointer">
            <td class=" border">1</td>
            <td class="border">Nom</td>
            <td class="border">descritpion descritpion descritpion descritpion descritpion descritpion </td>
        </tr>
    </tbody>
</table>